/* General Footer Styles */
.footer {
  background: linear-gradient(120deg, #3a7bd5, #022f39);
  color: #fff;
    padding: 4rem 2rem;
  }
  
  .footer-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .footer p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .footer-links {
    padding-left: 0;
  }
  
  .footer-link {
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 0.8rem;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #99f2c8;
  }
  
  /* Social Media Icons */
  .footer-social-icons {
    margin-top: 1rem;
  }
  
  .social-icon {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 15px;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover {
    color: #99f2c8;
    transform: scale(1.2);
  }
  
  /* Newsletter Section */
  .newsletter-form {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .newsletter-input {
    padding: 0.8rem;
    font-size: 1.1rem;
    width: 250px;
    border: none;
    border-radius: 30px 0 0 30px;
  }
  
  .newsletter-input:focus {
    outline: none;
    border-color: #99f2c8;
  }
  
  .newsletter-form button {
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    background-color: #99f2c8;
    border: none;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .newsletter-form button:hover {
    background-color: #1f4037;
    color: #fff;
  }
  
  /* Responsive Design */
  @media (max-width: 767px) {
    .footer-title {
      font-size: 1.5rem;
    }
  
    .footer-link {
      font-size: 1rem;
    }
  
    .footer-social-icons {
      text-align: center;
    }
  
    .newsletter-input {
      width: 200px;
    }
  }
  