/* Services Section Styles */
.services-section {
    background-color: #f9f9f9;
  }
  
  .services-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333; /* Elegant navy blue */
  }
  
  .services-description {
    font-size: 1.2rem;
    color: #666;
  }
  
  .service-card {
    background: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  .service-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .service-text {
    color: #666;
  }
  
  .service-card i {
    font-size: 2.5rem;
    color: #99f2c8; /* Matches navbar theme */
  }
  